<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839036250066-ouuti0372ki00blh3va3mgk4vjl8kpk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839036250066-ouuti0372ki00blh3va3mgk4vjl8kpk6</string>
	<key>API_KEY</key>
	<string>AIzaSyDzfWODykz8ip2J783ConbIIG1JvQ9aHm8</string>
	<key>GCM_SENDER_ID</key>
	<string>839036250066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.brurberg.Pooptracker</string>
	<key>PROJECT_ID</key>
	<string>babytracker-35709</string>
	<key>STORAGE_BUCKET</key>
	<string>babytracker-35709.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839036250066:ios:5fa03bf4355c5f31708a0b</string>
</dict>
</plist>